<div class="flex items-center justify-center h-screen bg-gray-200">
  <div class="w-full max-w-md">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" [formGroup]="registerForm" (ngSubmit)="createUser()">
      <!-- Campos del formulario -->
      <div class="mb-4">
        <!-- Campos para nombre y email -->
        <label class="block bg-white text-sm font-bold mb-2" for="name">
          Nombre
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 bg-white leading-tight focus:outline-none focus:shadow-outline"
         type="text" 
         placeholder="Nombre"
         formControlName="name"
         >
        <label class="block bg-white text-sm font-bold mb-2" for="email">
          Email
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 bg-white leading-tight focus:outline-none focus:shadow-outline" formControlName="email" type="email" placeholder="Email">
      </div>
      <div class="mb-6">
        <!-- Campo para contraseña -->
        <label class="block bg-white text-sm font-bold mb-2"  for="password">
          Contraseña
        </label>
        <input formControlName="password" class="shadow appearance-none border rounded w-full py-2 px-3 bg-white mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="******************">
      </div>
      <div class="flex items-center justify-between">
        <!-- Botón Registrarse -->
        <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
          Registrarse
        </button>
        
        <!-- Botón Iniciar Sesión -->
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
          <a routerLink="/auth/login">Iniciar sesión</a>
        </button>
      </div>
    </form>
  </div>
</div>
